<!DOCTYPE html>
<html lang="en" style="overflow:auto">
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Ignite DMA Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <style>
      .table-container th {
        width: 25%;
        white-space: nowrap;
      }
      .table-container td {
        width: 75%;
      }
      #profileTimeEdit label {
        display: inline;
        padding-right: 1em;
        vertical-align: middle;
      }
      .timeInput{
        width: unset;
        margin-bottom: 0.5em;
      }
      .checkboxes input{
        margin-right: 0.25em;
        margin-left: 0.5em;
      }
      input{
        text-align: center;
      }


      .blocked-site-input {
          display: block;
          margin-bottom: 5px;
          width: unset;
      }
      .blocked-site-wrapper {
          position: relative;
          display: inline-block;
      }
      .remove-btn {
          display: none;
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
          background-color: transparent;
          color: red;
          border: none;
          padding: 2px 5px;
          transform: rotate(45deg);
      }
      .blocked-site-wrapper:hover .remove-btn {
          display: inline;
      }
      #firstBox {
        width: 100%;
      }
      #notifi{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .clear{
        opacity: 0;
        transition: opacity 1.5s;
      }
    </style>
  </head>
  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="notification is-success" id="notifi">
            {{ messages[0] }}
          </div>
          <script>
            setTimeout(() => {
              document.getElementById("notifi").classList.add("clear");
            }, 5000);
          </script>
        {% endif %}
        {% endwith %}
        <div class="container">
          <p class="title">Ignite DMA</p>
          <p class="subtitle">A Device Manager Application (DMA) for students under MOE</p>
          <div class="box">
            <div class="table-container" id="profile">
              <table class="table is-striped is-hoverable is-fullwidth has-text-centered">
                <tbody>
                  <tr class="is-selected title is-4">
                    <th>Profile Name</th>
                    <td id="profileName"></td>
                  </tr>
                  <tr>
                    <th>Profile Code</th>
                    <td id="profileCode"></td>
                  </tr>
                  <tr>
                    <th>Time Range</th>
                    <td id="profileTime"></td>
                  </tr>
                  <tr>
                    <th>Day Range</th>
                    <td id="profileDay"></td>
                  </tr>
                  <tr>
                    <th>Last Updated</th>
                    <td id="profileLastUpdated"></td>
                  </tr>
                  <tr>
                    <th>Blocked Sites</th>
                    <td id="profileBlockedSites"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <form class="table-container" id="editProfile" method="POST" action="/profile" onsubmit="checkTime()">
              <table class="table is-striped is-hoverable is-fullwidth has-text-centered">
                <tbody>
                  <tr class="is-selected title is-4">
                    <th>Profile Name</th>
                    <td><input class="input" name="profileNameEdit" id="profileNameEdit" type="text" maxLength="15" onkeypress="preventFormSubmit(event)" required></input></td>
                  </tr>
                  <tr>
                    <th>Profile Code</th>
                    <td><input class="input" name="profileCodeEdit" id="profileCodeEdit" type="text" maxLength="8" onkeypress="preventFormSubmit(event)" readOnly required></input></td>
                  </tr>
                  <tr>
                    <th>Time Range</th>
                    <td id="profileTimeEdit">
                      <label class="label">Start Time:</label>
                      <input class="input timeInput" id="editTimeStart" name="editTimeStart" type="time" onkeypress="preventFormSubmit(event)" required></input>
                      <br>
                      <label class="label">End Time:</label>
                      <input class="input timeInput" id="editTimeEnd" name="editTimeEnd" type="time" onkeypress="preventFormSubmit(event)" required></input>
                    </td>
                  </tr>
                  <tr>
                    <th>Day Range</th>
                    <td id="profileDayEdit">
                      <div class="checkboxes" style="display:block">
                        <label class="checkbox"><input id="editSUN" name="editSUN" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Sunday</label>
                        <label class="checkbox"><input id="editMON" name="editMON" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Monday</label>
                        <label class="checkbox"><input id="editWED" name="editWED" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Wednesday</label>
                        <label class="checkbox"><input id="editTUE" name="editTUE" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Tuesday</label>
                        <label class="checkbox"><input id="editTHU" name="editTHU" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Thursday</label>
                        <label class="checkbox"><input id="editFRI" name="editFRI" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Friday</label>
                        <label class="checkbox"><input id="editSAT" name="editSAT" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Saturday</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Blocked Sites</th>
                    <td id="profileBlockedSitesEdit">
                      <div id="blocked-sites-container">
                        <div class="field has-addons">
                          <div class="control" style="width: 100%;">
                            <input type="text" class="blocked-site-input input" placeholder="Enter More Sites Here!" onkeypress="handleKeyPress(event)" oninput="validateInputEvent(event)" id="firstBox"></input>
                          </div>
                          <div class="control">
                            <button class="button is-info" onclick="forceNewInput();event.preventDefault()">Add</button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <textarea type="text" class="is-hidden" id="blockedSitesList" name="blockedSitesList" hidden></textarea>
              <button class="button is-success" id="saveProfile" type="submit" onclick="updateBlockedSitesList();if(document.getElementById('editProfile').reportValidity()){this.classList.add('is-loading');}">Save Changes</button>
              <button class="button is-danger" id="uneditProfile" onclick="if(confirm('Discard changes?')){renderUI(false);}event.preventDefault();">Cancel</button>
            </form>
            <button class="button is-warning" id="editProfileBtn" onclick="renderUI(true)">Edit Profile</button>
          </div>
        </div>
      </div>
    </section>
    <div id="data" style="display:none" hidden>
      {{ data }}
    </div>
    <script>
      function replaceWithDaysOfWeek(input) {
          //Generated by Bing Chat
          const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
          return input.split('').map(char => daysOfWeek[parseInt(char)]).join(', ');
      }

      function formatTimeRange(startHour, startMinute, endHour, endMinute) {
          //Generated by Bing Chat
          const padZero = (num) => num.toString().padStart(2, '0');

          const startTime = `${padZero(startHour)}:${padZero(startMinute)}`;
          const endTime = `${padZero(endHour)}:${padZero(endMinute)}`;

          return `${startTime} - ${endTime}`;
      }

      function formatTime(hour, min) {
        //derived from formatTimeRange()
        const padZero = (num) => num.toString().padStart(2, '0');

        return`${padZero(hour)}:${padZero(min)}`;
      }



      function renderUI(editing){
        if (editing){
          document.getElementById('editProfileBtn').classList.add("is-hidden");
          document.getElementById('saveProfile').classList.remove("is-hidden");
          document.getElementById('uneditProfile').classList.remove("is-hidden");
          document.getElementById('profile').classList.add("is-hidden");
          document.getElementById('editProfile').classList.remove("is-hidden");
        }
        else{
          document.getElementById('editProfileBtn').classList.remove("is-hidden");
          document.getElementById('saveProfile').classList.add("is-hidden");
          document.getElementById('uneditProfile').classList.add("is-hidden");
          document.getElementById('profile').classList.remove("is-hidden");
          document.getElementById('editProfile').classList.add("is-hidden");
        }
        /*let profile = {
          className: "DefaultClass",
          blockedSites: [
            "discord.com",
            "google.com"
          ],
          startHour: 8,
          startMin: 0,
          endHour: 14,
          endMin: 30,
          enforceDays:"12345",
          lastUpdated: 1722930364899
        };*/
        let profile = JSON.parse(document.getElementById("data").innerHTML);
        console.dir(profile);
        document.getElementById("profileName").innerHTML = profile.className;
        document.getElementById("profileCode").innerHTML = profile.classId;
        document.getElementById("profileTime").innerHTML = formatTimeRange(profile.startHour, profile.startMin, profile.endHour, profile.endMin)
        document.getElementById("profileDay").innerHTML = replaceWithDaysOfWeek(profile.enforceDays);
        document.getElementById("profileLastUpdated").innerHTML = new Date(profile.lastUpdated).toLocaleString();
        document.getElementById("profileBlockedSites").innerHTML = profile.blockedSites.join("<br>");

        document.getElementById("profileNameEdit").value = profile.className;
        document.getElementById("profileCodeEdit").value = profile.classId;
        document.getElementById("editTimeStart").value = formatTime(profile.startHour,profile.startMin);
        document.getElementById("editTimeEnd").value = formatTime(profile.endHour,profile.endMin);

        clearInputs()
        createInputs(profile.blockedSites);



        //I feel like there's a better way to do this but I'm not sure...
        //Sorry for writting Bad c0de XD
        if (profile.enforceDays.includes("0")){
          document.getElementById('editSUN').checked = true;
        }else {
          document.getElementById('editSUN').checked = false;
        }
        if (profile.enforceDays.includes("1")){
          document.getElementById('editMON').checked = true;
        }else {
          document.getElementById('editMON').checked = false;
        }
        if (profile.enforceDays.includes("2")){
          document.getElementById('editTUE').checked = true;
        }else {
          document.getElementById('editTUE').checked = false;
        }
        if (profile.enforceDays.includes("3")){
          document.getElementById('editWED').checked = true;
        }else {
          document.getElementById('editWED').checked = false;
        }
        if (profile.enforceDays.includes("4")){
          document.getElementById('editTHU').checked = true;
        }else {
          document.getElementById('editTHU').checked = false;
        }
        if (profile.enforceDays.includes("5")){
          document.getElementById('editFRI').checked = true;
        }else {
          document.getElementById('editFRI').checked = false;
        }
        if (profile.enforceDays.includes("6")){
          document.getElementById('editSAT').checked = true;
        }else {
          document.getElementById('editSAT').checked = false;
        }

      }







      function handleKeyPress(event) {
          if (event.key === 'Enter') {
              event.preventDefault();
              const input = event.target;
              if (input.value.trim() !== '') {
                  createNewInput(input.value);
                  input.value = '';
              }
          }
      }

      function createNewInput(value) {
          const container = document.getElementById('blocked-sites-container');
          const wrapper = document.createElement('div');
          wrapper.className = 'blocked-site-wrapper';

          const newInput = document.createElement('input');
          newInput.type = 'text';
          newInput.className = 'blocked-site-input input';
          newInput.value = value;
          newInput.onkeypress = handleKeyPress;
          newInput.oninput = validateInput;

          const removeBtn = document.createElement('button');
          removeBtn.className = 'remove-btn';
          removeBtn.innerText = '+';
          removeBtn.onclick = () => {updateBlockedSitesList();container.removeChild(wrapper);};

          wrapper.appendChild(newInput);
          wrapper.appendChild(removeBtn);
          container.appendChild(wrapper);
      }

      function forceNewInput(){
        let input = document.getElementById("firstBox");
        createNewInput(input.value);
        input.value = "";
      }

      function validateInput(input){
        //console.log(input);
        const validPattern = /^[a-z0-9.]*$/;
        input = input.toLowerCase(); // Convert to lowercase
        if (!validPattern.test(input)) {
            return input.replace(/[^a-z0-9.]/g, '');
        }
        return input;
      }

      function validateInputEvent(event) {
              let input = event.target;
              // Replace newline characters with new entries
              if (input.value.includes(' ')) {
                  const values = input.value.split(' ');
                  input.value = validateInput(values[0]);
                  for (let i = 1; i < values.length; i++) {
                      if (values[i].trim() !== '') {
                          createNewInput(validateInput(values[i]));
                      }
                  }
              }
              else{
                input.value = validateInput(input.value)
              }
              updateBlockedSitesList();
          }


      document.addEventListener('input', () => {
          const inputs = document.querySelectorAll('.blocked-site-input');
          document.getElementById('blockedSitesList').value = ""
          inputs.forEach(input => {
              if (input.value.trim() === '' && input.id != "firstBox") {
                  input.parentElement.remove();
              }
              document.getElementById('blockedSitesList').value += (input.value+"\n");
          });
          document.getElementById('blockedSitesList').value = document.getElementById('blockedSitesList').value.slice(0, -1);
      });

      function updateBlockedSitesList(){
        document.getElementById('blockedSitesList').value = "";
        const inputs = document.querySelectorAll('.blocked-site-input');
        inputs.forEach(input => {
            if (input.value.trim() === '' && input.id != "firstBox") {
                input.parentElement.remove();
            }
            document.getElementById('blockedSitesList').value += (input.value+"\n");
        });
        document.getElementById('blockedSitesList').value = document.getElementById('blockedSitesList').value.slice(0, -1);
      }

      function createInputs(values){
        /*let input = document.getElementById("firstBox");
        input.value = validateInput(values[0]);*/
        document.getElementById('blockedSitesList').value = "";
        for (let i = 0; i < values.length; i++) {
            document.getElementById('blockedSitesList').value += (values[i]+"\n");
            if (values[i].trim() !== '') {
                createNewInput(validateInput(values[i]));
            }
        }
        document.getElementById('blockedSitesList').value = document.getElementById('blockedSitesList').value.slice(0, -1);
      }

      function clearInputs(){
        const inputs = document.querySelectorAll('.blocked-site-input');
        document.getElementById('blockedSitesList').value = "";
        inputs.forEach(input => {
            if (input.id != "firstBox") {
                input.parentElement.remove();
            }
            else{
                input.value = "";
            }
        });
      }

      function preventFormSubmit(event){
        if (event.key === 'Enter') {
            event.preventDefault();
        }
      }


      function checkTime() {
        let startTime = document.getElementById("editTimeStart").value.split(":");
        let endTime = document.getElementById("editTimeEnd").value.split(":");
        let startMins = Number(startTime[1])+(Number(startTime[0])*60);
        let endMins = Number(endTime[1])+(Number(endTime[0])*60);
        if (startMins >= endMins){
          event.preventDefault();
          alert('Invalid Time! Start time must be before end time!');
          document.getElementById("saveProfile").classList.remove("is-loading");
        }
      }









      renderUI(false);

    </script>
  </body>
</html>
