{% extends "base.html" %}
{% block head %}
  <title>Ignite DMA Manager – Profile</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <style>
    .profileTop{
      display: flex;
    }
    .profileInfo{
      width: 90%;
      height: 75%;
      margin-bottom: 10%
    }
    .profilePlaceholder{
    }
    .profilePlaceholder div{
      opacity: 1;
      filter: blur(0.75em);
    }
    .profilePlaceholder .addIcon{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      user-select: none;
      align-content: center;
      opacity: 1 !important;
      filter: none !important;
      text-align: center !important;
      transform: translate(calc(-1*var(--bulma-box-padding)), calc(-1*var(--bulma-box-padding)));
    }
    .editButtonContain{
      width: 10%;
    }
    .profileBottom{
      width: 100%;
      height: 25%
    }
    .editButton{
      display: block;
      border-radius: 50%;
      padding: 0.25em;
      background: transparent;
      transition: background 0.5s ease-in-out;
    }
    .editButton:hover{
      background: rgba(100,100,100,0.5);
      transition: background 0.5s ease-in-out;
    }
    .status{
      pointer-events: none;
    }
    .profileEntry{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
    }
    .profileContainer{
      overflow: auto;
      user-select: none;
      /*text-align: left;*/
    }
    .profileBox{
      width: 25%;
      position: relative;
      min-width: 200px;
      /*min-height: 150px;*/
      display: inline-block;
      text-align: left;
      margin: 0.5em;
      cursor: pointer;
      transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
      box-shadow: 0 2px 3px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.2);
    }
    .profileBox:hover{
      box-shadow: 10px 15px rgba(10,10,10,.2);
      background-color: var(--bulma-scheme-main-bis);
      transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
    }
    .editButton2{
      position: absolute;
      top: 0;
      left: 0;
    }
    #profileModal .modal-card{
      width: 90%;
      height: 90%;
    }
    /*#enrollModal{
      width: width: var(--bulma-modal-content-width);
      height: unset;
    }*/
    .modal-card-head{
      height: 10%;
    }
    .modal-card-body{
      height: 80%;
      overscroll-behavior: none;
    }
    .modal-card-foot{
      height: 10%;
      justify-content: right;
    }
    .modal-card-foot .buttons{
      margin-bottom: unset;
    }
    #notifications{
      position: fixed;
      top: 10%;
      left: 10%;
      right: 10%;
      z-index: 41;
    }
    #notifications .message{
      opacity: 0.9;
      box-shadow: 5px 5px rgba(10,10,10,.2);
      animation: showNotifi 0.75s ease-out;
    }
    .hidden{
      display: none !important;
    }
    .blocked-site-entry{
      width: unset;
    }

    .enrollTableContainer th {
      white-space: nowrap;
    }
    .enrollTableContainer td {
      width: 100%;
    }
    td button:hover, th button:hover{
      background: rgba(100,100,100,0.5);
      transition: background 0.5s ease-in-out;
    }
    #profileTimeEdit label {
      display: inline;
      padding-right: 1em;
      vertical-align: middle;
    }
    .timeInput{
      width: unset;
      margin-bottom: 0.5em;
    }
    .checkboxes input{
      margin-right: 0.25em;
      margin-left: 0.5em;
    }
    input{
      text-align: center;
    }


    .blocked-site-input {
      display: block;
      margin-bottom: 5px;
      width: unset;
    }
    .blocked-site-wrapper {
      position: relative;
      display: inline-block;
    }
    .remove-btn {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      background-color: transparent;
      color: red;
      border: none;
      padding: 2px 5px;
      transform: rotate(45deg);
    }
    .remove-btn::after{
      content: "+";
    }
    .blocked-site-wrapper:hover .remove-btn {
      display: inline;
    }
    #firstBox {
      width: 100%;
    }
    #notifi{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .clear{
      opacity: 0;
      transition: opacity 1.5s;
    }
    .blocked-site-data {
      width: unset;
    }
    .table-checkbox{
      width: 0;
      max-width: 0em;
      opacity: 0;
      scale: 0;
      pointer-events: none;
      padding: 0.5em 0em !important;
      transition: all 0.75s;
      align-content: center;
    }
    .table-checkbox.is-active{
      max-width: 2em;
      opacity: 1;
      scale: 1.5;
      pointer-events: auto;
      padding: var(--bulma-table-cell-padding)!important;
      transition: all 0.75s;
    }
    tbody tr td{
      align-content: center;
    }
    a.dropdown-item{
      color: hsl(var(--bulma-dropdown-item-h),var(--bulma-dropdown-item-s),var(--bulma-dropdown-item-color-l)) !important;
    }
    a.dropdown-item, button.dropdown-item {
      padding-inline-end: 1rem;
    }
    a.dropdown-item .material-symbols-outlined, button.dropdown-item .material-symbols-outlined{
      vertical-align:middle;
      flex:auto;
      text-align:end;
      margin-left: 1em;
    }
    .dropdown .dropdown-menu{
      opacity: 0;
    }
    .dropdown.is-active .dropdown-menu{
      animation: showModalBg 0.5s ease-out forwards;
    }
    .dropdown.is-active.is-closing .dropdown-menu{
      animation: closeModalBg 0.5s ease-out forwards;
    }



    .loadSign{
      height:100%;
      border-color: transparent;
      background-color: transparent;
      pointer-events: none;
    }

    .loadSign::after{
      border-color: transparent transparent var(--bulma-text-strong) var(--bulma-text-strong) !important;
      -webkit-animation: spinAround .5s infinite linear;
      animation: spinAround .5s infinite linear;
      border: 5px solid #dbdbdb;
      border-radius: 100%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 5em;
      position: relative;
      width: 5em;
    }

    [type="time"]::-webkit-calendar-picker-indicator {
      background-image: url("/assets/schedule_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png");
    }/* NOTE: This does not work on firefox */
  </style>
{% endblock %}

{% block content %}
  <div id="notifications">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <article class="message is-success">
          <div class="message-header">
            Success
            <button class="delete" onclick="closeNotifi(this)"></button>
          </div>
          <div class="message-body">
            {{ messages[0] }}
          </div>
        </article>
      {% endif %}
    {% endwith %}
  </div>
  <h1 class="title" id="greeting"></h1>
  <h2 class="subtitle">Welcome to Ignite DMA Manager</h2>
  <div class="box">
    <p class="title is-size-4">Enrollment Information</p>
    <div class="table-container block is-fullwidth enrollTableContainer">
      <table class="table is-striped is-hoverable is-fullwidth has-text-centered">
        <tbody>
          <tr class="is-selected title is-4">
            <th>School</th>
            <td>
              <div id="enrollNameView">
                <p id="enrollName" style="display: inline;"></p>
                <button class="material-symbols-outlined" style="display: inline;vertical-align: bottom;" onclick="enrollNameToggle(true)">edit</button>
              </div>
              <div id="enrollNameEdit" style="display: inline-block;" class="hidden">
                <div class="field is-grouped">
                  <p class="control is-expanded">
                    <input id="enrollNameEditField" class="input" style="min-width: 10em;" type="text" onkeypress="enrollNameKeypress(event)" oninput="enrollNameKeypress(event)" placeholder="Enter School Name">
                  </p>
                  <p class="control">
                    <button id="enrollNameSubmitBtn" class="button is-success" onclick="enrollNameSubmit()" disabled>Save</button>
                    <button class="button" onclick="enrollNameToggle(false)">Cancel</button>
                    <!-- BUG: Buttons overflow on mobile -->
                  </p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>Enrollment Code</th>
            <td>
              <button class="material-symbols-outlined" style="display: inline;vertical-align: bottom;" onclick="copyEnrollCode()">content_copy</button>
              <p id="enrollCode" style="display: inline"></p>
            </td>
          </tr>
          <tr>
            <th>Last Modified</th>
            <td id="enrollLastUpdated"></td>
          </tr>
          <tr>
            <th>Removal PIN</th>
            <td style="user-select: none">
              <button class="material-symbols-outlined" style="display: inline;vertical-align: bottom;" onclick="copyPin()">content_copy</button>
              <p id="enrollPin" style="display: inline;vertical-align: bottom;user-select: text">••••••••</p>
              <button class="material-symbols-outlined" style="display: inline;vertical-align: bottom;" onclick="enrollPinToggle(this)">visibility</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="buttons is-right">
      <button class="button is-warning" onclick="enrollEdit()">Change Removal PIN</button>
      <!--button class="button is-info" onclick="notifi('is-info', 'Sorry!', 'This feature is not ready yet.')">Print Information</button-->
    </div>


    <p class="title is-size-4">Profiles</p>
    <div class="box block has-background-dark profileContainer" style="margin-bottom: 3em">

      <!--div class="box profileBox" data-profile="jijsij" onclick="profileInfo(this)">
        <div class="profileTop">
          <div class="profileInfo">
            <p class="profileEntry title is-size-5">Baseline Profile</p>
            <p class="profileEntry subtitle is-size-6">Everyday<br>24/7</p>
          </div>
          <div class="editButtonContain">
            <button class="editButton" onclick="profileEdit(this)"><span class="material-symbols-outlined">edit</span></button>
          </div>
        </div>
        <div class="profileBottom">
          <button class="button is-success status">Active</button>
          <button class="button is-warning status hidden">Inactive</button>
          <button class="button is-danger is-inverted status hidden">Disabled</button>
        </div>
      </div-->

      <div class="box profileBox profilePlaceholder" data-profile="" onclick="profileInfo(this)">
        <div class="addIcon">
          <strong><span class="material-symbols-outlined" style="font-size: 36px;">add</span></strong>
          <p class="subtitle"><strong>Click here to add a new profile</strong></p>
        </div>
        <div class="profileTop">
          <div class="profileInfo">
            <p class="profileEntry title is-size-5">Example Profile</p>
            <p class="profileEntry subtitle is-size-6">Weekdays<br>08:00-14:30</p>
          </div>
          <div class="editButtonContain hidden">
            <button class="editButton" onclick="profileEdit(this)"><span class="material-symbols-outlined">edit</span></button>
          </div>
        </div>
        <div class="profileBottom">
          <button class="button is-success status">Active</button>
          <button class="button is-warning status hidden">Inactive</button>
          <button class="button is-danger is-inverted status hidden">Disabled</button>
        </div>
      </div>

    </div>



    <p class="title is-size-4" style="margin-bottom: -0.5em">Manage People</p>
    <div id="managePeopleTabs" class="tabs">
      <ul>
        <li class="is-active"><a onclick="toggleTab(this, 'teachers')"><span>Teachers</span></a></li>
        <li><a onclick="toggleTab(this, 'students')"><span>Students</span></a></li>
      </ul>
    </div>
    <div id="tabs-content-container" style="margin-bottom: 0.5em; padding-inline: 1rem">
      <div id="teachers-tab-content" class="tab-content">
        <div class="field has-addons" style="padding-inline: 3rem;">
          <div class="control has-icons-left" style="width:100%">
            <input class="input is-rounded has-text-left" type="text" placeholder="Search" />
            <span class="icon is-left">
              <span class="material-symbols-outlined">search</span>
            </span>
          </div>
          <div class="control">
            <span class="select">
              <select>
                <option>Search by Name</option>
                <option>Search by Username</option>
              </select>
            </span>
          </div>
          <div class="control">
            <button class="button is-info is-rounded">Search</button>
          </div>
        </div>
        <div id="teachersBtnsNoSelect" style="margin-bottom: 0.5em; display: flex">
          <button class="button is-warning is-small" onclick="tableCheckboxEnable()">Select Multiple</button>
          <div class="buttons is-right" style="flex: auto">
            <button class="button is-success is-small">Add Teacher</button>
          </div>
        </div>
        <div id="teachersBtnsSelect" class="hidden" style="margin-bottom: 0.5em; display: flex">
          <button class="button is-warning is-small" onclick="tableCheckboxDisable()">Cancel Selection</button>
          <div class="buttons is-right" style="flex: auto">
            <button class="button is-warning is-small" disabled>Reset Password</button>
            <button class="button is-danger is-small" disabled>Delete Teacher</button>
          </div>
        </div>
        <div class="table-container block is-fullwidth">
          <table class="table is-striped is-hoverable is-fullwidth has-text-left">
            <thead>
              <tr class="is-selected">
                <th class="table-checkbox"><input type="checkbox" /></th>
                <th style="padding-top: 0.25em;padding-left: 0.75em;width: 50%">
                  <div style="display: flex">
                    <p style="font-size: 1.5em">Name</p>
                    <div class="dropdown is-right" style="margin-left: auto">
                      <div class="dropdown-trigger">
                        <button class="material-symbols-outlined" aria-haspopup="true" aria-controls="teachers-name-dropdown-menu" style="height:100%" onclick="toggleDropdown(this)">filter_list</button>
                      </div>
                      <div class="dropdown-menu" id="teachers-name-dropdown-menu" role="menu">
                        <div class="dropdown-content">
                          <div class="dropdown-item" style="padding-bottom: 0">
                            <p class="title is-5">Sort By</p>
                          </div>
                          <hr class="dropdown-divider" />
                          <button class="dropdown-item" style="display:flex">
                            <p style="display: inline">Ascending (A-Z)</p>
                            <span class="material-symbols-outlined">check</span>
                          </button>
                          <button class="dropdown-item" style="display:flex">
                            <p style="display: inline">Descending (Z-A)</p>
                            <span class="material-symbols-outlined" style="opacity: 0">check</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="padding-top: 0.25em;padding-left: 0.75em;width:30%">
                  <div style="display: flex">
                    <p style="font-size: 1.5em">Username</p>
                    <div class="dropdown is-right" style="margin-left: auto">
                      <div class="dropdown-trigger">
                        <button class="material-symbols-outlined" aria-haspopup="true" aria-controls="teachers-username-dropdown-menu" style="height:100%" onclick="toggleDropdown(this)">filter_list</button>
                      </div>
                      <div class="dropdown-menu" id="teachers-username-dropdown-menu" role="menu">
                        <div class="dropdown-content">
                          <div class="dropdown-item" style="padding-bottom: 0">
                            <p class="title is-5">Sort By</p>
                          </div>
                          <hr class="dropdown-divider" />
                          <button class="dropdown-item" style="display:flex">
                            <p style="display: inline">Ascending (A-Z)</p>
                            <span class="material-symbols-outlined">check</span>
                          </button>
                          <button class="dropdown-item" style="display:flex">
                            <p style="display: inline">Descending (Z-A)</p>
                            <span class="material-symbols-outlined" style="opacity: 0">check</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="padding-top: 0.25em;padding-left: 0.75em;width:20%">
                  <div style="display: flex">
                    <p style="font-size: 1.5em">Account Status</p>
                    <div class="dropdown is-right" style="margin-left: auto">
                      <div class="dropdown-trigger">
                        <button class="material-symbols-outlined" aria-haspopup="true" aria-controls="teachers-acc-status-dropdown-menu" style="height:100%" onclick="toggleDropdown(this)">filter_list</button>
                      </div>
                      <div class="dropdown-menu" id="teachers-acc-status-dropdown-menu" role="menu">
                        <div class="dropdown-content">
                          <div class="dropdown-item" style="padding-bottom: 0">
                            <p class="title is-5">Filter</p>
                          </div>
                          <hr class="dropdown-divider" />
                          <button class="dropdown-item" style="display:flex">
                            <p style="display: inline">Active</p>
                            <span class="material-symbols-outlined">check</span>
                          </button>
                          <button class="dropdown-item" style="display:flex">
                            <p style="display: inline">Locked</p>
                            <span class="material-symbols-outlined">check</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr><td class="table-checkbox"><input type="checkbox" /></td><td>Mr Tan</td><td>AmazingTan</td><td><button class="button is-success status">Active</button></td></tr>
              <tr><td class="table-checkbox"><input type="checkbox" /></td><td>Mr Tan</td><td>AmazingTan</td><td><button class="button is-success status">Active</button></td></tr>
              <tr><td class="table-checkbox"><input type="checkbox" /></td><td>Mr Tan</td><td>AmazingTan</td><td><button class="button is-success status">Active</button></td></tr>
              <tr><td class="table-checkbox"><input type="checkbox" /></td><td>Mr Tan</td><td>AmazingTan</td><td><button class="button is-success status">Active</button></td></tr>
              <tr><td class="table-checkbox"><input type="checkbox" /></td><td>Mr Tan</td><td>AmazingTan</td><td><button class="button is-success status">Active</button></td></tr>
              <tr><td class="table-checkbox"><input type="checkbox" /></td><td>Mr Tan</td><td>AmazingTan</td><td><button class="button is-success status">Active</button></td></tr>
              <tr class="has-text-centered">
                <td colSpan="4"><button class="button loadSign" id="loading"></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="students-tab-content" class="tab-content hidden">
        <div class="buttons is-right" style="margin-bottom: 0.5em">
          <button class="button is-warning">Select Multiple</button>
        </div>
        <div class="table-container block is-fullwidth">
          <table class="table is-striped is-hoverable is-fullwidth has-text-left">
            <thead>
              <tr class="is-selected">
                <th>Email</th>
                <th><abr title="The last time the student's device connected to IgniteDMA server">Last Online</abr></th>
                <th>Client Version</th>
              </tr>
            </thead>
            <tbody>
              <!--tr>
                <td>Mr Tan</td>
                <td>AmazingTan</td>
                <td><button class="button is-success status">Active</button></td>
              </tr-->
              <tr class="has-text-centered">
                <td colSpan="3"><button class="button loadSign" id="loading"></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>




  </div>
  <div id="profileModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"></p>
        <button class="delete" aria-label="close" onclick="closeModalCard(this)"></button>
      </header>
      <section class="modal-card-body">
        <button class="button loadSign" id="loading"></button>
        <div id="profileViewer" class="hidden">
          <p class="title is-size-4">General Information</p>
          <div class="table-container" id="profile">
            <table class="table is-striped is-hoverable is-fullwidth has-text-centered">
              <tbody>
                <tr class="is-selected title is-4">
                  <th>Profile Name</th>
                  <td id="profileName"></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td id="profileStatus"></td>
                </tr>
                <tr>
                  <th>Day Range</th>
                  <td id="profileDay"></td>
                </tr>
                <tr>
                  <th>Time Range</th>
                  <td id="profileTime"></td>
                </tr>
                <tr>
                  <th>Last Modified</th>
                  <td id="profileLastUpdated"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="title is-size-4">Blocked Sites</p>
          <div class="box has-background-dark" id="profileBlockedSites">
            <!--input class="blocked-site-entry input" readOnly value="abc.com">
            <input class="blocked-site-entry input" readOnly value="xyz.com"-->
          </div>
        </div>
        <form id="profileEditor" class="hidden" method="POST" action="/profile/updateProfile" onsubmit="formSubmit(event)">
          <p class="title is-size-4">General Information</p>
          <div class="table-container" id="editProfile">
            <table class="table is-striped is-hoverable is-fullwidth has-text-centered">
              <tbody>
                <tr class="is-selected title is-4">
                  <th>Profile Name</th>
                  <td><input class="input" name="profileNameEdit" id="profileNameEdit" type="text" onkeypress="preventFormSubmit(event)" required></input></td>
                </tr>
                <tr>
                  <th>State</th>
                  <td id="profileStateEdit"><label class="checkbox">Enabled: <input id="editState" name="editState" type="checkbox" onkeypress="preventFormSubmit(event)"></input></label></td>
                </tr>
                <tr>
                  <th>Day Range</th>
                  <td id="profileDayEdit" style="min-width: 200px">
                    <div class="checkboxes" style="display:block">
                      <label class="checkbox"><input id="editSUN" name="editSUN" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Sunday</label>
                      <label class="checkbox"><input id="editMON" name="editMON" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Monday</label>
                      <label class="checkbox"><input id="editTUE" name="editTUE" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Tuesday</label>
                      <label class="checkbox"><input id="editWED" name="editWED" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Wednesday</label>
                      <label class="checkbox"><input id="editTHU" name="editTHU" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Thursday</label>
                      <label class="checkbox"><input id="editFRI" name="editFRI" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Friday</label>
                      <label class="checkbox"><input id="editSAT" name="editSAT" type="checkbox" onkeypress="preventFormSubmit(event)"></input>Saturday</label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Time Range</th>
                  <td id="profileTimeEdit">
                    <label class="label">Start Time:</label>
                    <input class="input timeInput" id="editTimeStart" name="editTimeStart" type="time" onkeypress="preventFormSubmit(event)" required></input>
                    <br>
                    <label class="label">End Time:</label>
                    <input class="input timeInput" id="editTimeEnd" name="editTimeEnd" type="time" onkeypress="preventFormSubmit(event)" required></input>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="title is-size-4">Blocked Sites</p>
          <div class="box has-background-dark blocked-sites-container">
            <div class="field has-addons">
              <div class="control" style="width: 100%;">
                <input type="text" class="blocked-site-input input" placeholder="Enter more sites here" onkeypress="handleKeyPress(event)" oninput="validateInputEvent(event)" id="firstBox"></input>
              </div>
              <div class="control">
                <button class="button is-info" onclick="event.preventDefault();forceNewInput()">Add</button>
              </div>
            </div>
          </div>
          <textarea style="display: none" id="blockedSitesList" name="blockedSitesList" hidden></textarea>
          <input type="text" style="display: none" id="profileFormCode" name="profileCode" hidden></input>
          <input type="number" style="display: none" id="profileFormLastModified" name="profileLastModified" hidden></input>
          <input type="text" style="display: none" id="profileFormType" name="profileType" hidden></input>
        </form>
      </section>
      <footer class="modal-card-foot">
        <div id="profileViewerButtons" class="buttons hidden">
          <button class="button" onclick="closeModalCard(this.parentElement)">Close</button>
          <button class="button is-warning" onclick="renderModal(getModalProfileCode(this),true)">Edit</button>
        </div>
        <div id="profileEditorButtons" class="buttons hidden">
          <button class="button" onclick="renderModal(getModalProfileCode(this),false)">Cancel</button>
          <button class="button is-danger is-inverted" onclick="profileDelete(this)">Delete Profile</button>
          <button class="button is-success" onclick="$('#profileEditor').trigger('submit')">Save Changes</button>
        </div>
      </footer>
    </div>
  </div>
  <div class="modal" id="enrollModal">
    <div class="modal-background"></div>
    <form class="modal-card" action="/profile/changeEnrollPin" onsubmit="enrollPinValidate(event)" method="post">
      <header class="modal-card-head">
        <p class="modal-card-title">Change Removal PIN</p>
        <button class="delete" aria-label="close" onclick="closeModalFormCard(this)"></button>
      </header>
      <section class="modal-card-body" style="text-align: left;">
        <div class="field is-horizontal">
          <div class="field-label is-normal" style="flex-grow: 2">
            <label class="label">New PIN</label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control has-icons-left">
                <input class="input" onkeypress="enrollPinCheck(event)" oninput="enrollPinCheck(event)" name="PIN" type="password" style="text-align: left;" required>
                <span class="icon is-large is-left">
                  <span class="material-symbols-outlined">key</span>
                </span>
              </div>
              <div class="control">
                <button class="button" onclick="toggleVisibility(this)">
                  <span class="material-symbols-outlined" id="visibilityIcon">visibility</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal" style="flex-grow: 2">
            <label class="label">Confirm New PIN</label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control has-icons-left">
                <input class="input" onkeypress="enrollPinCheck(event)" oninput="enrollPinCheck(event)" name="PINConfirm" type="password" style="text-align: left;" required>
                <span class="icon is-large is-left">
                  <span class="material-symbols-outlined">key</span>
                </span>
              </div>
              <div class="control">
                <button class="button" onclick="toggleVisibility(this)">
                  <span class="material-symbols-outlined" id="visibilityIcon">visibility</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button" onclick="closeModalFormCard(this.parentElement)">Cancel</button>
          <button class="button is-success" id="enrollPinSubmit" type="submit" disabled>Update PIN</button>
        </div>
      </footer>
    </form>
  </div>
  <div class="modal" id="confirmModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" id="confirmModalTitle"></p>
        <button class="delete" aria-label="close" onclick="closeModalCard(this)"></button>
      </header>
      <section class="modal-card-body">
        <p id="confirmModalContent" class="title is-5" style="font-weight: unset"></p>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button" onclick="closeModalCard(this.parentElement)">Cancel</button>
          <button class="button is-success" id="confirmModalSubmitBtn">OK</button>
        </div>
      </footer>
    </div>
  </div>
  <div id="userData" style="display: none">
    {{ data }}
  </div>
  <script>
    function notifi(status, title, text){
      /*let notifi = $("<div>", {class: "notification "+status});
      notifi.text(data);
      notifi.append($("<button>", {class: "delete", onclick: "closeNotifi(this)"}));*/
      let notifi = $("<article>", {class: "message "+status});
      let header = $("<div>", {class: "message-header"});
      header.text(title);
      header.append($("<button>", {class: "delete", onclick: "closeNotifi(this)"}));
      let body = $("<div>", {class: "message-body"});
      body.html(text);
      notifi.append(header,body);
      $('#notifications').append(notifi);
    }
    function confirmModal(title, body, confirmCallback){
      $('#confirmModal #confirmModalTitle').text(title);
      $('#confirmModal #confirmModalContent').html(body);
      $('#confirmModal #confirmModalSubmitBtn').removeClass('is-loading');
      $('#confirmModal #confirmModalSubmitBtn').off('click');
      $('#confirmModal #confirmModalSubmitBtn').on('click', confirmCallback);
      $('#confirmModal').addClass('is-active');
    }
    function handleError(err){
      notifi('is-danger','Error',"An unexpected Error occured: "+err.message)
      return Promise.reject(err);
    }
    function parseResponse(response){
      if (!response.ok){
        throw new Error("Failed to fetch data from server.", {cause: response});
      }
      else{
        return response.json();
      }
    }
    function enrollPinCheck(event){
      if (event.key === 'Enter') {
          event.preventDefault();
      }
      if ($('input[name="PIN"]').val().trim() != "" && $('input[name="PINConfirm"]').val().trim() != ""){
        $("#enrollPinSubmit").prop("disabled",false);
      }
      else{
        $("#enrollPinSubmit").prop("disabled",true);
      }
    }
    function enrollPinValidate(event){
      if ($('input[name="PIN"]').val() == "" || $('input[name="PINConfirm"]').val() == ""){
        event.preventDefault();
        $("#enrollPinSubmit").prop("disabled",false);
        notifi('is-warning','Invalid PIN', 'New PIN cannot be empty!');
      }
      else if ($('input[name="PIN"]').val().trim() == "" || $('input[name="PINConfirm"]').val().trim() == ""){
        event.preventDefault();
        $("#enrollPinSubmit").prop("disabled",false);
        notifi('is-warning','Invalid PIN', 'New PIN cannot only contain whitespaces!');
      }
      else if ($('input[name="PIN"]').val().trim() != $('input[name="PINConfirm"]').val().trim()){
        event.preventDefault();
        notifi('is-warning','PINs do not match', 'The PINs entered do not match.');
      }
      else{
        $("#enrollPinSubmit").addClass("is-loading");
      }
    }
    function copyPin(){
      let pin = JSON.parse($('#userData').text())["RemovalPin"];
      navigator.clipboard.writeText(pin).then(() => {
        notifi("is-success", "Success", "PIN copied to clipboard!");
      }).catch(() => {
        notifi("is-danger", "Failed", "Failed to copy PIN to clipboard!");
      });
    }
    function copyEnrollCode(){
      let pin = JSON.parse($('#userData').text())["enrollCode"].toUpperCase();
      navigator.clipboard.writeText(pin).then(() => {
        notifi("is-success", "Success", "Enrollment Code copied to clipboard!");
      }).catch(() => {
        notifi("is-danger", "Failed", "Failed to copy Enrollment Code to clipboard!");
      });
    }
    let enrollPinTimeout;
    function enrollPinToggle(elm){
      clearTimeout(enrollPinTimeout);
      if ($(elm).text() == "visibility"){
        let data = JSON.parse($('#userData').text());
        $("#enrollPin").text(data["RemovalPin"]);
        $(elm).text("visibility_off");
        enrollPinTimeout = setTimeout(() => {
          enrollPinClose(elm);
        }, 3000);
      }
      else{
        $("#enrollPin").text("••••••••");
        $(elm).text("visibility");
      }
    }
    function enrollPinClose(elm){
      enrollPinToggle(elm);
    }
    function enrollNameToggle(state){
      if (state){
        $("#enrollNameEdit").parent().css('min-width', "400px");
        $("#enrollNameView").addClass('hidden');
        $("#enrollNameEdit").removeClass('hidden');
      }
      else {
        $("#enrollNameEdit").parent().css('min-width', "unset");
        $("#enrollNameEdit").addClass('hidden');
        $("#enrollNameView").removeClass('hidden');
      }
    }
    function enrollNameKeypress(event){
      if($('#enrollNameEditField').val() != $('#enrollName').html()){
        $('#enrollNameSubmitBtn').prop("disabled",false);
        if (event.key === 'Enter') {
          enrollNameSubmit();
        }
      }
      else{
        $('#enrollNameSubmitBtn').prop("disabled",true);
      }
    }
    function enrollNameSubmit(){
      $('#enrollNameSubmitBtn').addClass('is-loading');
      let form = $('<form>', {method: "post", action: "./profile/renameEnrollment", class: "hidden"});
      form.append(
        $('<input>', {type: "hidden", name: "enrollNewName", value: $('#enrollNameEditField').val()})
      );
      $(document.body).append(form);
      form.submit();
    }
    function toggleVisibility(elm){
      event.preventDefault();
      let visibilityIcon = elm.children[0]
      if (visibilityIcon.innerHTML == "visibility"){
        visibilityIcon.innerHTML = "visibility_off";
        elm.parentElement.parentElement.children[0].children[0].setAttribute('type', 'text');
      }
      else{
        visibilityIcon.innerHTML = "visibility";
        elm.parentElement.parentElement.children[0].children[0].setAttribute('type', 'password');
      }
    }
    function enrollEdit(){
      $('#enrollModal').addClass('is-active');
    }

    /*function closeModal(elm){
      $(elm).parent().removeClass("is-active");
      profileModalData = null;
    }*/
    function closeModalCard(elm){
      $(elm).parent().parent().parent().addClass("is-closing");
      setTimeout(()=>{
        $(elm).parent().parent().parent().removeClass("is-active");
        $(elm).parent().parent().parent().removeClass("is-closing");
      }, 750);
      profileModalData = null;
    }
    function closeModalFormCard(elm){
      event.preventDefault();
      $(elm).parent().parent().parent().addClass("is-closing");
      setTimeout(()=>{
        $(elm).parent().parent().parent().removeClass("is-active");
        $(elm).parent().parent().parent().removeClass("is-closing");
      }, 750);

      profileModalData = null;
    }
    function closeNotifi(elm){
      $(elm).parent().parent().animate({opacity: 0, height: 0, margin: 0, padding: 0}, 1000, () => {
        $(elm).parent().parent().remove();
      });
    }

    function profileDelete(elm){
      confirmModal('Delete Profile', 'Are you sure you want to delete this profile?<br>This action cannot be undone!', () => {
        $('#confirmModal #confirmModalSubmitBtn').addClass('is-loading');
        let form = $('<form>', {method: "post", action: "./profile/removeProfile", class: "hidden"});
        form.append(
          $('<input>', {type: "hidden", name: "profileCode", value: getModalProfileCode(elm)})
        );
        $(document.body).append(form);
        form.submit();
      });
    }

    function profileEdit(elm){
      //console.log('edit');
      //console.log($(elm).parent().parent().parent().attr("data-profile"));
      renderModal($(elm).parent().parent().parent().attr("data-profile"), true);
      $('#profileModal').addClass('is-active');
    }
    function profileInfo(elm){
      if ($(elm).attr("data-profile") == ""){
        //notifi("is-info", "Not Implemented Yet", "This feature is not implement yet.");
        renderModal('default', true);
        $('#profileModal').addClass('is-active');
      }
      else if (!$('#profileModal').hasClass('is-active')){
        //console.log('info');
        //console.log($(elm).attr("data-profile"));
        renderModal($(elm).attr("data-profile"),false);
        $('#profileModal').addClass('is-active');
      }
    }
    function renderModal(profileCode, edit){
      if (profileCode == 'default' && !edit){
        $('#profileModal').addClass('is-closing');
        setTimeout(()=>{
          $('#profileModal').removeClass('is-active');
          $('#profileModal').removeClass('is-closing');
        }, 750);

      }
      $('#profileModal #loading').removeClass('hidden');
      $('#profileModal #profileViewerButtons').addClass('hidden');
      $('#profileModal #profileViewer').addClass('hidden');
      $('#profileModal #profileEditor').addClass('hidden');
      $('#profileModal #profileEditorButtons').addClass('hidden');
      if (edit){
        if (profileCode == 'default'){
          $('#profileModal .modal-card-title').text("Create New Profile");
        }
        else{
          $('#profileModal .modal-card-title').text("Edit Profile");
        }
        renderModalData(profileCode).then(() => {
          $('#profileModal #profileEditor').removeClass('hidden');
          $('#profileModal #profileEditorButtons').removeClass('hidden');
          if (profileCode == 'default'){
            $('#profileModal #profileEditorButtons .is-danger').addClass('hidden');
            $('#profileModal #profileEditorButtons .is-success').text('Create New Profile');
          }
          else {
            $('#profileModal #profileEditorButtons .is-danger').removeClass('hidden');
            $('#profileModal #profileEditorButtons .is-success').text('Save Changes');
          }
          $('#profileModal #loading').addClass('hidden');
        });
      }
      else{
        $('#profileModal .modal-card-title').text("Profile Information");
        renderModalData(profileCode).then(() => {
          $('#profileModal #profileViewer').removeClass('hidden');
          $('#profileModal #profileViewerButtons').removeClass('hidden');
          $('#profileModal #loading').addClass('hidden');
        });
      }
      console.log(profileCode, edit);
    }
    let profileModalData;
    function renderModalData(profileCode){
      $('#profileModal').attr('data-profileCode', profileCode);
      return fetch("/profile/getProfile", {cache: "no-cache", headers: {"profileCode": profileCode}}).then(parseResponse).then((data) => {
        profileModalData = data;
        console.dir(data);
        $("#profileModal #profileName").text(data.name);
        renderModalStatus(data);
        $("#profileModal #profileDay").text(parseDays(data.enforceDays));
        $("#profileModal #profileTime").text(parseTime(data.enforceTime));
        $("#profileModal #profileLastUpdated").text(fixTimeString(new Date(data.lastModified).toLocaleString('en-US')));
        $("#profileBlockedSites").children().remove();
        data.blockedSites.forEach((site) => {
          $("#profileBlockedSites").append($('<input>',{class: "blocked-site-entry input", readOnly: true, value: site}));
        });
        if ($("#profileBlockedSites").children().length <= 0){
          $("#profileBlockedSites").append($('<p>').text("This profile does not have any blocked sites configured."));
        }
        $("#profileModal #profileNameEdit").val(data.name);
        $("#profileModal #profileStateEdit #editState").each(function(){ this.checked = data.enabled;});
        console.dir($("#profileModal #profileDayEdit .checkboxes").children());
        $("#profileModal #profileDayEdit .checkboxes").children().each(function(){ this.children[0].checked = false;});
        const profileEditDayElmIds = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
        data.enforceDays.split('').forEach((day) => {
          $("#profileModal #profileDayEdit .checkboxes label #edit"+profileEditDayElmIds[parseInt(day)]).each(function(){ this.checked = true; });
        });
        $("#profileModal #editTimeStart").val(data.enforceTime.start);
        $("#profileModal #editTimeEnd").val(data.enforceTime.end);
        $('#profileModal #firstBox').val("")
        $("#profileModal .blocked-sites-container").children().not(".field").remove();
        data.blockedSites.forEach((site) => {
          createNewInput(site);
        });
        // TODO: update jquery

      }).catch(handleError);
    }
    function renderModalStatus(data){
      console.log("render");
      console.dir(data);
      let profileStatus = "Enabled";
      if(!data.enabled){
        profileStatus = "Disabled"
      }
      else{
        if (checkActive(data.enforceDays,data.enforceTime)){
          profileStatus += ", Active"
        }
        else{
          profileStatus += ", Inactive"
        }
      }
      $("#profileModal #profileStatus").text(profileStatus);
    }
    function getModalProfileCode(elm){
      return $(elm).parents().eq(3).attr('data-profileCode');
    }

    function checkActive(enforceDays, enrollTime){
      let [startHour, startMin] = enrollTime.start.split(":");
      let [endHour, endMin] = enrollTime.end.split(":");
      let d = new Date();
      if (enforceDays.includes(d.getDay())){
        if (enrollTime.start == enrollTime.end){
          return true;
        }
        let secondsNowSince2400 = ((d.getHours()*3600) + (d.getMinutes()*60));
        let secondsStartSince2400 = ((startHour*3600) + (startMin*60));
        let secondsEndSince2400 = ((endHour*3600) + (endMin*60));
        if (secondsStartSince2400 >= secondsEndSince2400){
          secondsEndSince2400 += 86400;//Overnight profile. Add 24hrs
        }
        return ((secondsStartSince2400 <= secondsNowSince2400) && (secondsEndSince2400 > secondsNowSince2400))

      }
      else {
        return false
      }
    }
    function parseTime(enrollTime){
      if (enrollTime.start == enrollTime.end){
        return "24/7";
      }
      else{
        return enrollTime.start + " - " + enrollTime.end;
      }
    }
    function parseDays(enforceDays, shortForm){
      let days = enforceDays.split('').sort().join('');
      if (days == "0123456"){
        return "Everyday";
      }
      else if (days == "12345"){
        return "Weekdays";
      }
      else if (days == "06") {
        return "Weekends";
      }
      else if (shortForm){
        const daysOfWeek = ["Sun", "Mon", "Tue", "Wed", "Thurs", "Fri", "Sat"];
        return days.split('').map(char => daysOfWeek[parseInt(char)]).join(', ');
      }
      else{
        const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        return days.split('').map(char => daysOfWeek[parseInt(char)]).join(', ');
      }
    }
    function fixTimeString(timeString){
      let a = timeString.split(",");
      let mm,dd,yyyy;
      [mm,dd,yyyy] = a[0].split("/")
      a.shift();
      return [dd,mm,yyyy].join("/") + "," + a
    }
    function forceNewInput(){
      const input = $('#firstBox');
      let value = input.val().trim();
      if (value !== '') {
        if (checkSafeUrl(value)){
          input.val("");
          createNewInput(value);
        }
        else{
          notifi('is-warning','Bad Site', 'You cannot add this site as it will prevent IgniteDMA from updating itself!')
        }
      }
    }


    function handleKeyPress(event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        forceNewInput();
      }
    }

    function checkSafeUrl(url){
      //Checks if the URL given is not the update host of the extension
      return !(url == "com" || url == ".com" || url == "mooo.com" || url == ".mooo.com" || url == "ignitedma.mooo.com")
    }

    function checkDuplicateSites(){
      let siteList = new Array();
      $(".blocked-sites-container").find("input").each((i, elm) => {
        let value = $(elm).val()
        if (siteList.includes(value)){
          $(".blocked-sites-container").find("input").filter((i,elm) => {
             return elm.value == value;
          }).addClass('is-warning');
        }
        else{
          siteList.push(value);
          $(elm).removeClass('is-warning');
        }
      });

    }

    function validateInputEvent(event) {
      let input = event.target;
      // Replace newline characters with new entries
      if (input.value.includes(' ')) {
        let values = input.value.split(' ');
        input.value = validateInput(values[0]);
        values.forEach((site, i) => {
          if (i !== 0 && site.trim() !== ''){
            createNewInput(validateInput(site));
          }
        });
      }
      else{
        input.value = validateInput(input.value)
      }
      checkDuplicateSites()
      if (!checkSafeUrl(input.value)){
        $(input).addClass('is-danger');
      }
      else{
        $(input).removeClass('is-danger');
      }
      //updateBlockedSitesList();
    }

    function validateInput(input){
      const validPattern = /^[a-z0-9.]*$/;
      input = input.toLowerCase(); // Convert to lowercase
      if (!validPattern.test(input)) {
          return input.replace(/[^a-z0-9.]/g, '');
      }
      return input;
    }

    function createNewInput(value) {
      let container = $(".blocked-sites-container");
      let wrapper = $('<div>', {class: "blocked-site-wrapper"});
      let newInput = $('<input>', {class: "blocked-site-input input", value: value, type: 'text'});
      newInput.on('keypress', handleKeyPress);
      newInput.on('input', validateInputEvent);
      if (!checkSafeUrl(value)){
        newInput.addClass('is-danger');
      }
      let removeBtn = $('<button>', {class: "remove-btn"});
      removeBtn.on('click', (event) => {
        event.preventDefault();
        $(event.target).parent().remove();
        checkDuplicateSites();
      });
      wrapper.append(newInput);
      wrapper.append(removeBtn);
      container.append(wrapper);
      checkDuplicateSites();
    }

    function preventFormSubmit(event){
      if (event.key === 'Enter') {
          event.preventDefault();
      }
    }

    function formSubmit(event){
      $("#profileEditorButtons .is-success").addClass('is-loading');
      let abortFormSubmit;
      urlList = $(".blocked-sites-container").find("input").map(function(i, elm) {
        if (checkSafeUrl($(elm).val())){
          return $(elm).val();
        }
        else {
          abortFormSubmit = true;
        }
      }).get();
      console.log(urlList);
      if (abortFormSubmit){
        event.preventDefault();
        notifi('is-warning','Bad Sites','The red-highlighted sites entered under `Blocked Site` cannot be added as blocking that site will prevent IgniteDMA from updating itself. Please remove them before saving.');
        $("#profileEditorButtons .is-success").removeClass('is-loading');
      }
      else{
        $("#blockedSitesList").text(urlList.join('\n'));
        $("#profileFormCode").val($('#profileModal').attr('data-profileCode'));
        $("#profileFormType").val(profileModalData.type);
        $("#profileFormLastModified").val(profileModalData.lastModified);
        //Last Updated sent so that server can check if profile was edited from
        //another computer while user was editiing. Resulting in 2 diffrent versions
      }
    }

    function toggleTab(elm, tabName){
      $("#managePeopleTabs .is-active").removeClass("is-active");
      $(elm).parent().addClass("is-active");
      $("#tabs-content-container .tab-content").not("#"+tabName+"-tab-content").addClass("hidden");
      $("#tabs-content-container #"+tabName+"-tab-content").removeClass("hidden");
    }
    function tableCheckboxEnable(){
      $("#teachersBtnsSelect").removeClass("hidden")
      $("#teachersBtnsNoSelect").addClass("hidden")
      $(".table-checkbox").addClass("is-active")
    }
    function tableCheckboxDisable(){
      $("#teachersBtnsNoSelect").removeClass("hidden")
      $("#teachersBtnsSelect").addClass("hidden")
      $(".table-checkbox").removeClass("is-active")
    }
    function toggleDropdown(elm){
      //$(elm.parentElement.parentElement).toggleClass("is-active");
      if($(elm.parentElement.parentElement).hasClass("is-active")){
        $(elm.parentElement.parentElement).addClass("is-closing");
        setTimeout(()=>{
          $(elm.parentElement.parentElement).removeClass("is-active").removeClass("is-closing")
        }, 500);
      }
      else{
        $(elm.parentElement.parentElement).addClass("is-active")
      }
    }


    function renderUI(){
      let now = new Date();
      if (now.getHours() >= 18){
        $('#greeting').text("Good Evening!");
      }
      else if (now.getHours() >= 12) {
        $('#greeting').text("Good Afternoon!");
      }
      else{
        $('#greeting').text("Good Morning!");
      }
      if (document.getElementById("profileBlockedSites").children.length <= 1){
        let msg = document.createElement('p');
        msg.innerHTML = "This profile does not have any blocked sites configured.";
        document.getElementById("profileBlockedSites").appendChild(msg);
      }
      let data = JSON.parse($('#userData').text());
      $('#enrollName').text(data.enrollName);
      $('#enrollNameEditField').val(data.enrollName);
      $('#enrollCode').text(data.enrollCode.toUpperCase());
      $('#enrollLastUpdated').text(fixTimeString(new Date(data.lastModified).toLocaleString('en-US')));
      $(".profileContainer").children().not('.profilePlaceholder').remove();
      Object.entries(data.profiles).forEach(([profileCode,profileData]) => {
        let profileBox = $(".profilePlaceholder").first().clone().removeClass('profilePlaceholder');
        profileBox.attr("data-profile", profileCode);
        profileBox.find('.addIcon').remove();
        profileBox.find('.editButtonContain').removeClass('hidden');
        profileBox.find('.profileInfo .title').text(profileData.name);
        profileBox.find('.profileInfo .subtitle').html(parseDays(profileData.enforceDays, true)+"<br>"+parseTime(profileData.enforceTime));
        if (!profileData.enabled){
          profileBox.find('.profileBottom .is-success').addClass('hidden');
          profileBox.find('.profileBottom .is-danger').removeClass('hidden');
        }
        else if (!checkActive(profileData.enforceDays, profileData.enforceTime)) {
          profileBox.find('.profileBottom .is-success').addClass('hidden');
          profileBox.find('.profileBottom .is-warning').removeClass('hidden');
        }
        $(".profileContainer").prepend(profileBox);
      });
    }

    function updateUIloop(){
      renderUI()
      if (profileModalData){
        renderModalStatus(profileModalData);
      }
      let now = new Date();
      let delay = (61 - now.getSeconds()) * 1000;//Runs every minute + 1 second delay just in case
      return setTimeout(updateUIloop,delay);
    }

    $(document).ready(() => {
      updateUIloop();
    });
  </script>
{% endblock %}
